<launch>
	<arg name="camera_topic" default="/camera/rgb/image_raw"/> 
	<arg name="depth_topic" default="/camera/depth/image_raw"/> 
	<arg name="gender" default="true"/>
	<arg name="age" default="true"/>
	<arg name="language" default="spanish"/>
	<arg name="show_subtitles" default="true"/>



	<!-- lanzar la kinect -->
	<!-- <include file="$(find bender_sensors)/launch/rgbd/rgbd_head.launch" /> -->

	<!-- Sound Player -->
	<include file="$(find bender_sound)/launch/sound.launch"/>

	<!-- TTS -->
	<include file="$(find bender_tts)/launch/tts.launch">
    	<arg name="language"       value="$(arg language)"/>
    	<arg name="show_subtitles" value="$(arg show_subtitles)"/>
	</include>


	<include file="$(find uchile_face_person)/face_detector/launch/facial_features.launch" >
		<arg name="gender" value="$(arg gender)"/>
		<arg name="age"  value="$(arg age)"/>
		<arg name="camera_topic"  value="$(arg camera_topic)"/>
		<arg name="depth_topic"  value="$(arg depth_topic)"/>
	</include>

	<include file="$(find uchile_person)/person_detector_hog/launch/person_detector.launch" />

	<!-- <include file="$(find bender_bringup)/launch/core_green.launch" /> -->
	<!-- <include file="$(find bender_bringup)/launch/navigation/navigation.launch"/> -->
<!--
	<include file="$(find bender_ssl)/launch/sound_localization.launch"  />
-->
</launch>
